@model Sol_Session.Models.UserModel 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form asp-controller="Login" asp-action="Login">
            <input id="txtUserName" type="text" placeholder="User Name" asp-for="UserName" />
            <br />
            <input id="txtPassword" type="password" placeholder="Password" asp-for="Password" />
            <br />
            <input id="btnSubmit" type="submit" value="Submit" />
        </form>
        
    </div>
</body>
</html>
